@model Demo.Services.Models.LoginModel

@{
    ViewBag.Title = Html.Resource("Site.Login");
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>@Html.Resource("Page.Login.Title")</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.Resource("Page.Login.Title")</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.PassWord)
                @Html.PasswordFor(m => m.PassWord)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value=@Html.Resource("Site.Login") />
    </fieldset>
    <p>
        @Html.ActionLink(Html.Resource("Site.Register"), "Register") 
        @Html.Resource("Page.Login.IfNoAccount")
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>使用其他服务登录。</h2>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
